[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==1.11.24"
pillow = "*"
django-forms-bootstrap = "*"
psycopg2 = "*"
dj-database-url = "*"
psycopg2-binary = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
